@font-face {
  font-family: "sergio";
  src: url("KaushanScript-Regular.otf");
}
@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Bold.ttf");
}
@font-face {
  font-family: "montserrat";
  src: url(Montserrat-SemiBold.ttf);
}
html {
  scroll-behavior: smooth;
}
h1 {
  color: rgb(255, 0, 0);
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  font-family: "sergio";
  margin-top: 2px;
  margin-bottom: 2px;
}
.flex {
  display: flex;
}
.gridindex {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100px 600px 70px;
  grid-template-areas: "cabecalho cabecalho" "secao barra-lateral" "rodape rodape";
}
.gridsobre {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100px 600px 70px;
  grid-template-areas: "cabecalho cabecalho" "secao barra-lateral" "rodape rodape";
}
.gridcurriculo {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100px 1200px 70px;
  grid-template-areas: "cabecalho cabecalho" "secao barra-lateral" "rodape rodape";
}
.gridalbum {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100px 1700px 70px;
  grid-template-areas: "cabecalho cabecalho" "secao barra-lateral" "rodape rodape";
}
.gridhobbies {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100px 1150px 70px;
  grid-template-areas: "cabecalho cabecalho" "secao barra-lateral" "rodape rodape";
}
.gridfavs {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100px 800px 70px;
  grid-template-areas: "cabecalho cabecalho" "secao barra-lateral" "rodape rodape";
}
header {
  grid-area: cabecalho;
  --align-self: stretch;
  position: sticky;
  top: 0;
  align-self: var(--align-self);
}
header {
  grid-area: cabecalho;
}
.index {
  margin: 8px;
  grid-area: secao;
  display: block;
}
.contentalbum {
  margin: 8px;
  grid-area: secao;
  display: flex;
}
.sobre {
  margin: 8px;
  grid-area: secao;
  display: flex;
}
.fotecas {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-top: 0px;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
.indexhobs {
  margin: 8px;
  grid-area: secao;
  display: flex;
}
.hobbies {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-top: 0px;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
.asideindex {
  margin: 8px;
  grid-area: barra-lateral;
  display: block;
}
.contatosaside {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 8px;
  width: 100%;
  margin-left: auto;
  margin-top: 0px;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
.item img {
  width: 90px;
}
.item {
  display: flex;
  width: 100%;
}
.item p {
  margin-left: 6px;
  text-align: left;
  width: 100%;
}
footer {
  grid-area: rodape;
  background-color: rgba(170, 39, 39, 0.35);
  text-align: center;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: solid rgb(255, 0, 0) 1px;
}
#footersobre {
  margin-top: 110px;
  grid-area: rodape;
  background-color: rgba(170, 39, 39, 0.35);
  text-align: center;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: solid rgb(255, 0, 0) 1px;
}
h4 {
  font-family: "opensans";
}
.juca {
  display: block;
  text-align: center;
}
.ju {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 18px;
  background-color: rgb(170, 39, 39);
  opacity: 85%;
  border-radius: 12px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  word-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
}
.judas {
  font-size: 18px;
  text-align: right;
  background-color: rgb(229, 213, 234);
}
a {
  font-family: "montserrat";
  text-decoration: none;
  color: rgb(218, 0, 0);
  padding: 10px;
}
body {
  background-image: url(https://cdn.wallpapersafari.com/12/46/zn04Md.jpg);
}
#curriculo {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-top: 0px;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
.zedamanga {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-top: 0px;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
.fotosindex {
  display: flex;
  margin-top: 28px;
}
.fotoindex {
  margin-left: auto;
  margin-right: auto;
  width: 21%;
  height: 300px;
  border-radius: 3%;
}
.jumanji {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-left: auto;
  margin-top: 0px;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
.jumanji {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-left: auto;
  margin-top: 0px;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}

#topo {
  text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
}
.uou {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  text-align: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.593);
  background-clip: text;
}
.uous {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;
  background-clip: text;
}
.form {
  background-color: rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
h3 {
  font-family: "OpenSans";
  font-size: 26px;
}
h2 {
  font-family: "OpenSans";
  text-align: center;
  font-size: 38px;
  color: rgb(218, 0, 0);
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}
p {
  font-family: "montserrat";
  font-size: 24px;
  color: #000000;
}
.fotosection {
  height: 300px;
  border-radius: 5%;
  padding: 12px;
}
.fotos {
  transition: scale 400ms;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-bottom: 10 px;
  margin-top: 10px;
  height: 200px;
}
.fotos:hover {
  scale: 120%;
}
.album {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  justify-content: right;
  align-items: center;
}
.pp {
  transition: scale 400ms;
  margin-left: 20px;
  color: #fff;
}
#cs {
  width: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.pp:hover {
  background-color: rgba(255, 255, 255, 0.267);
  scale: 113%;
}
.pp:active {
  color: #000;
}
.ipt {
  width: 90px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.ipt:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.ipt:active {
  color: #000;
}

.ipt:active:after {
  background: transparent;
}

.ipt:hover:before {
  opacity: 1;
}

.ipt:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(170, 39, 39);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.botaoipt {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

body.dark-mode {
  background-color: #111;
  background-image: none;
}

button#dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}
body.dark-mode p {
  color: rgb(172, 172, 172);
}
body.dark-mode h3 {
  color: rgb(172, 172, 172);
}
body.dark-mode h4 {
  color: rgb(172, 172, 172);
}
body.dark-mode form {
  color: rgb(172, 172, 172);
}
body.dark-mode table {
  color: rgb(172, 172, 172);
  background-color: #111;
}
toggle-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
#dark-mode-toggle {
  width: 90px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

#dark-mode-toggle:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#dark-mode-toggle:active {
  color: #000;
}

#dark-mode-toggle:active:after {
  background: transparent;
}

#dark-mode-toggle:hover:before {
  opacity: 1;
}

#dark-mode-toggle:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(170, 39, 39);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
table {
  border-collapse: collapse;
  background-color: #fff;
}

table td,
table th {
  padding: 30px;
  border: 2px solid white;
}
table tr:nth-child(1) {
  background-color: rgb(170, 39, 39);
  color: white;
}
.tabela {
  display: flex;
  justify-content: center;
}
table tr:hover {
  background-color: rgb(130, 130, 130);
}
